body{
    display: flex;
    background-color: whitesmoke;
    font-family: 'poppins', sans-serif;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.colour-box{
    width: 15vw;
    height: 28vh;
    background-color: blue;
    border-radius: 20px;
}

.btn{
    display: flex;
    gap: 40px;
    margin-top: 50px;
    padding-bottom: 1px;
}

.box{
    width: 7.5vw;
    height: 13.5vh;
    border-radius: 12px;
}

.red{
    background-color: brown;
}

.green{
    background-color: limegreen;
}

.blue{
    background-color: cyan;
}

.pink{
    background-color: palevioletred;
}

.yellow{
    background-color: yellow;
}

.purple{
    background-color: plum;
}

button{
    margin-top: -30px;
    padding: 20px;
    border: 0;
    background-color: gray;
    border-radius: 20px;
}

@font-face {
    font-family: 'poppins';
    src: url('./assets/Poppins-Regular.ttf') format('truetype');
  }